/* You can add global styles to this file, and also import other style files */
@layer theme, base, components, primeng, primereacticons, utilities;
@import "tailwindcss/theme.css" layer(theme) source(none);
@import "tailwindcss/preflight.css" layer(base) source(none);
@import "tailwindcss/utilities.css" layer(utilities) source(none);
@import "tailwindcss-primeui" source(none); /* it goes into @layer utilities */

@import "primeicons/primeicons.css" layer(primereacticons) source(none);
@import "./fonts.css" layer(base) source(none);
/* Configuration Tailwind v4 with Angular in an Nx Monorepo without problem to include Tailwind classes from unused libraries */
/* https://nx.dev/blog/setup-tailwind-4-angular-nx-workspace */
/* https://gist.github.com/Phhansen/66cd0e4baeabe154d7d20691d709a421 */
/* very important part is apps/ai-houses-t/.postcssrc.json and import plugins for `@nxgraphsource;` */
@nxgraphsource;

/* @import 'primeicons/primeicons.css'; */
        
/* @source "../node_modules/primereact/passthrough/tailwind"; */

:root {
  --background: #ffffff;
  --foreground: #1c1b1d;
  --header-height: 70px;
  --section-height: calc(100vh - var(--header-height));
  --font-nanum-pen-script: 'Nanum Pen Script', cursive;
  --font-roboto: 'Roboto',  "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica", "Arial", "sans-serif", sans-serif;
  --font-roboto: 'Roboto',  "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica", "Arial", "sans-serif", sans-serif;
  --font-grotesk: 'Space Grotesk',  "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica", "Arial", "sans-serif", sans-serif;
}

/* 
 colors here follow the materials design https://m3.material.io/styles/color/roles 
 but instead of on-primary we use primary-foreground
*/
@theme { 
  --breakpoint-xs: 26rem;
  --animate-fade-in: fade-in 0.3s ease-out;
  --animate-fade-out: fade-out 0.3s ease-out;
  --animate-backdrop-fade-in: backdrop-fade-in 0.3s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-100%);
      display: none;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      display: block;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
      display: block;
    }

    100% {
      opacity: 0;
     transform: translateY(-100%);
      display: none;
    }
  }

  @keyframes backdrop-fade-in {
    0% {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0);
    }

    100% {
      background-color: rgba(255, 255, 255, 0.75);
      backdrop-filter: blur(16px);
    }
  }


}

@theme inline {
  --color-ai-dark: #191A23; /* primary color */
  --color-ai-green: #B9FF66; /* secondary color */
  --color-ai-grey: #F3F3F3; /* tertiary color */

   /* Dark palette - Primary */
  --color-ai-dark-50:  oklch(from var(--color-ai-dark) 0.95 0.005 h); /* ~#EDEDED  ~rgb(237, 237, 237) */
  --color-ai-dark-100: oklch(from var(--color-ai-dark) 0.90 0.008 h); /* ~#DDDDDE  ~rgb(221, 221, 222) */
  --color-ai-dark-200: oklch(from var(--color-ai-dark) 0.79 0.012 h); /* ~#BFBFC1  ~rgb(191, 191, 193) */
  --color-ai-dark-300: oklch(from var(--color-ai-dark) 0.64 0.015 h); /* ~#98989C  ~rgb(152, 152, 156) */
  --color-ai-dark-400: oklch(from var(--color-ai-dark) 0.47 0.018 h); /* ~#6A6A70  ~rgb(106, 106, 112) */
  --color-ai-dark-500: var(--color-ai-dark);                           /*  #191A23   rgb( 25,  26,  35) */
  --color-ai-dark-600: oklch(from var(--color-ai-dark) 0.13 0.022 h); /* ~#15161E  ~rgb( 21,  22,  30) */
  --color-ai-dark-700: oklch(from var(--color-ai-dark) 0.11 0.020 h); /* ~#121219  ~rgb( 18,  18,  25) */
  --color-ai-dark-800: oklch(from var(--color-ai-dark) 0.09 0.016 h); /* ~#0E0E13  ~rgb( 14,  14,  19) */
  --color-ai-dark-900: oklch(from var(--color-ai-dark) 0.07 0.012 h); /* ~#0A0A0E  ~rgb( 10,  10,  14) */
  --color-ai-dark-950: oklch(from var(--color-ai-dark) 0.05 0.009 h); /* ~#07070A  ~rgb(  7,   7,  10) */

  /* Green palette - Secondary */
  --color-ai-green-50:  oklch(from var(--color-ai-green) 0.99 0.03 h); /* ~#F9FFF3  ~rgb(249, 255, 243) */
  --color-ai-green-100: oklch(from var(--color-ai-green) 0.98 0.06 h); /* ~#F4FFE8  ~rgb(244, 255, 232) */
  --color-ai-green-200: oklch(from var(--color-ai-green) 0.97 0.10 h); /* ~#EBFFD4  ~rgb(235, 255, 212) */
  --color-ai-green-300: oklch(from var(--color-ai-green) 0.96 0.14 h); /* ~#DFFFBA  ~rgb(223, 255, 186) */
  --color-ai-green-400: oklch(from var(--color-ai-green) 0.95 0.18 h); /* ~#D1FF9B  ~rgb(209, 255, 155) */
  --color-ai-green-500: var(--color-ai-green);                          /*  #B9FF66   rgb(185, 255, 102) */
  --color-ai-green-600: oklch(from var(--color-ai-green) 0.82 c h);    /* ~#9DD957  ~rgb(157, 217,  87) */
  --color-ai-green-700: oklch(from var(--color-ai-green) 0.69 c h);    /* ~#82B347  ~rgb(130, 179,  71) */
  --color-ai-green-800: oklch(from var(--color-ai-green) 0.55 c h);    /* ~#668C38  ~rgb(102, 140,  56) */
  --color-ai-green-900: oklch(from var(--color-ai-green) 0.42 c h);    /* ~#4A6629  ~rgb( 74, 102,  41) */
  --color-ai-green-950: oklch(from var(--color-ai-green) 0.32 c h);    /* ~#34471D  ~rgb( 52,  71,  29) */

  /* Grey palette - Tertiary */
  --color-ai-grey-50:  oklch(from var(--color-ai-grey) 0.995 c h); /* ~#FEFEFE  ~rgb(254, 254, 254) */
  --color-ai-grey-100: oklch(from var(--color-ai-grey) 0.990 c h); /* ~#FDFDFD  ~rgb(253, 253, 253) */
  --color-ai-grey-200: oklch(from var(--color-ai-grey) 0.985 c h); /* ~#FCFCFC  ~rgb(252, 252, 252) */
  --color-ai-grey-300: oklch(from var(--color-ai-grey) 0.982 c h); /* ~#FAFAFA  ~rgb(250, 250, 250) */
  --color-ai-grey-400: oklch(from var(--color-ai-grey) 0.978 c h); /* ~#F7F7F7  ~rgb(247, 247, 247) */
  --color-ai-grey-500: var(--color-ai-grey);                        /*  #F3F3F3   rgb(243, 243, 243) */
  --color-ai-grey-600: oklch(from var(--color-ai-grey) 0.84 c h);  /* ~#CFCFCF  ~rgb(207, 207, 207) */
  --color-ai-grey-700: oklch(from var(--color-ai-grey) 0.71 c h);  /* ~#AAAAAA  ~rgb(170, 170, 170) */
  --color-ai-grey-800: oklch(from var(--color-ai-grey) 0.58 c h);  /* ~#868686  ~rgb(134, 134, 134) */
  --color-ai-grey-900: oklch(from var(--color-ai-grey) 0.43 c h);  /* ~#616161  ~rgb( 97,  97,  97) */
  --color-ai-grey-950: oklch(from var(--color-ai-grey) 0.31 c h);  /* ~#444444  ~rgb( 68,  68,  68) */

  /* --color-primary-100: var(--color-red-100);*/ /* all --color-primary-* are set by `tailwindcss-primeui` library */
  --color-primary-900-4: color-mix(in oklab, var(--color-primary-900) 4%, white); /* solid equivalent of primary-900 at 4% opacity on white */
  --color-primary-foreground: var(--color-white);

  --color-secondary: var(--color-ai-green-500);
  --color-secondary-600: var(--color-ai-green-600);
  --color-secondary-700: var(--color-ai-green-700);
  --color-secondary-800: var(--color-ai-green-800);
  --color-secondary-900: var(--color-ai-green-900);
  --color-secondary-foreground: var(--color-black);
 
  --color-tertiary: var(--color-ai-grey-500);
  --color-tertiary-600: var(--color-ai-grey-600);
  --color-tertiary-700: var(--color-ai-grey-700);
  --color-tertiary-800: var(--color-ai-grey-800);
  --color-tertiary-900: var(--color-ai-grey-900);
  --color-tertiary-foreground: var(--color-black);

  /* --color-surface: var(--background); */ /* all --color-surface-* are set by `tailwindcss-primeui` library */
  --color-surface-foreground: var(--background);

  --font-primary: var(--font-grotesk);
  --font-main: var(--font-roboto);
}

@layer base {
  html {
    font-size: 16px; /** 1rem = 16px; and this is the base for Tailwind utility classes: pt-1 = padding-top: 0.25rem ~ 4px */
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;  /** This is the base font size for the body and all elements in it unless they have text-[some-size] classes; and it allows to avoid text-[some-size] classes for responsive design */
    @media (min-width: 64rem) {
      font-size: 18px; /** This is the base font size for the body and all elements in it unless they have text-[some-size] classes; and it allows to avoid text-[some-size] classes for responsive design */
    }
  }

  h1,h2,h3,h4 {
    font-family: var(--font-grotesk);
    font-weight: 500;
    line-height: 1.3;
    @media (min-width: 64rem) {
      line-height: 1.25;
    }
  }

  h1 {
    font-size: 2.6875rem;
    @media (min-width: 64rem) {
      font-size: 3.75rem;
    }
  }

  h2 {
    font-size: 2.25rem;
    @media (min-width: 64rem) {
      font-size: 2.5rem;
    }
  }

  h3 {
    font-size: 1.625rem;
    @media (min-width: 64rem) {
      font-size: 1.875rem;
    }
  }

  h4 {
    font-size: 1.125rem;
    @media (min-width: 64rem) {
      font-size: 1.25rem; 
    }
  }

  p {
    font-family: var(--font-grotesk);
    font-weight: 400;
    line-height: 1.5;
    @media (min-width: 64rem) {
      line-height: 1.28;
    }
  }

  dialog {
    margin: auto;
  }

  .container-ai {
    padding-inline: 20px;
    margin-inline: auto;
    @media (min-width: 64rem) {
      max-width: 1280px;
    }
  }
}

@layer components {
  .cta {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 5px;
      bottom: 0;
      right: 0;
      border-radius: 9999px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='4px' viewBox='0 0 90 2'%3E%3Cpath fill='white' d='M88.6,0.3c-6.7-0.3-13.5-0.1-20.2,0c-6.8,0-13.5,0-20.3-0.1C41.4,0.1,34.6,0,27.9,0 C21.1,0.1,14.4,0.1,7.6,0.1c-6.7,0-10.9,1.6-4.3,1.7c13.3,0.1,26.5-0.1,39.7,0C50.5,1.9,57.9,2,65.3,2c3.8,0,7.6,0,11.4-0.1 c3.8,0,7.6,0,11.4-0.1C90,1.8,91,0.4,88.6,0.3z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 9999px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14px' viewBox='0 0 180 18'%3E%3Cpath fill='%23920707' d='M170,16.1c0.2-1,0.4-2,0.9-3c0.5-0.9,1-1.9,1.6-2.7c0.7-0.9,1.4-1.7,2.2-2.5c1-1.1,2.3-2.3,3.9-1.9 c0.8,0.2,1.2,0.8,1.3,1.5c0.2,1.1-0.7,2.2-1.4,2.9c-0.3,0.3-0.6,0.6-0.8,0.8c-0.8,0.8-1.5,1.7-2.1,2.6c-0.3,0.5-0.7,1-1,1.5 c-0.1,0.2-0.1,0.2,0.1-0.2c-0.1,0.2-0.2,0.4-0.4,0.6c-0.1,0.1-0.2,0.2-0.2,0.3c-0.2,0.3-0.3,0.5-0.5,0.8c-0.5,0.8-1.5,1.1-2.4,0.9 C170.4,17.8,169.9,16.9,170,16.1z M157.4,17.9c0.9-0.3,1.6-1,1.7-2c0,0,0-0.1,0-0.2c0,0,0,0,0-0.1c0-0.1,0-0.1,0.1-0.2 c0-0.2,0.1-0.4,0.1-0.6c0-0.1,0-0.1,0-0.1c0-0.1,0.1-0.1,0.1-0.2c0.2-0.6,0.5-1.2,0.7-1.8c0.1-0.2,0.3-0.9,0.4-0.9 c-0.2,0.3-0.2,0.4-0.1,0.2c0-0.1,0.1-0.2,0.1-0.2c0.1-0.2,0.2-0.3,0.3-0.5c0.4-0.6,0.7-1.2,1.1-1.8c0.4-0.6,0.8-1.1,1.2-1.7 c0.2-0.3,0.4-0.5,0.6-0.8c0.1-0.1,0.2-0.2,0.3-0.4c0.5-0.6,1-1.2,1.5-1.8c0,0,0,0,0.1-0.1c0,0,0.1-0.1,0.1-0.1 c0.5-0.6,1.1-1.3,1.1-2.3c0.1-1.5-0.7-2.4-2.1-2.6c-1.6-0.2-3.3,1.7-4.3,2.9c-1.1,1.3-2.2,2.7-3.1,4.2c-0.8,1.4-1.6,3-2.1,4.6 c-0.5,1.7-0.6,3.5-0.1,5.2C155.5,17.8,156.7,18.2,157.4,17.9z M137,17.9c0.8-0.3,1.6-1.2,1.4-2.1c0-0.2-0.1-0.4-0.1-0.5 c0-0.1,0-0.1,0-0.1c0,0,0,0,0,0c0-0.1,0-0.3,0.1-0.4c0-0.1,0-0.2,0-0.2c0-0.1,0.1-0.2,0.1-0.3c0,0,0-0.1,0-0.1 c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.1-0.2,0.1-0.3c0,0.1-0.1,0.1-0.1,0.2c0-0.2,0.4-0.7,0.6-0.9 c0.2-0.3,0.4-0.6,0.6-0.8c0.3-0.4,0.7-0.8,1-1.2c0.7-0.9,1.4-1.8,2.1-2.7c0.1-0.1,0.2-0.2,0.2-0.3c0.2-0.2,0.4-0.3,0.5-0.5 c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.1,0.1-0.1-0.1,0c-0.4,0.3-0.3,0.2,0.4-0.3c0.2-0.2,0.5-0.4,0.6-0.6c0.7-1.1,0.7-2.3-0.4-3.1 c-0.9-0.7-2.6-0.3-3.5,0.2c-0.7,0.4-1.4,0.9-1.9,1.5c-1.1,1.1-1.9,2.3-2.8,3.6c-1.8,2.7-4.2,6.2-2.2,9.4 C135.2,17.9,136.1,18.2,137,17.9z M118.8,17.9c0.7,0.3,1.7,0,2.2-0.7c0.5-0.8,1-1.6,1.6-2.3c0.5-0.6,1-1.3,1.5-1.9 c0.7-0.7,1.5-1.5,1.7-2.4c0.2-0.7,0.2-1.4-0.3-2c-0.4-0.5-1.3-0.8-1.9-0.5c-0.6,0.2-1.2,0.5-1.7,1c-0.3,0.4-0.7,0.7-1,1.1 c-0.4,0.5-0.8,1.1-1.1,1.6c-0.8,1.3-1.3,2.6-1.8,4.1C117.9,16.7,118,17.5,118.8,17.9z M105.5,18c0.9,0.1,2.1-0.5,2.4-1.4 c0.2-0.6,0.4-1.1,0.7-1.6c0.1-0.2,0.2-0.4,0.4-0.6c-0.1,0.2-0.2,0.3-0.3,0.5c0.4-0.8,0.9-1.5,1.5-2.1c0.3-0.4,0.7-0.7,1-1.1 c-0.1,0.2-0.3,0.3-0.4,0.5c0.3-0.3,0.7-0.7,0.9-1c0.4-0.7,0.6-1.5,0.1-2.3c-0.4-0.6-1.3-1-2.1-0.8c-0.3,0.1-0.6,0.2-0.9,0.4 c-0.3,0.2-0.6,0.4-0.8,0.6c-0.4,0.3-0.7,0.7-1.1,1.1c-0.4,0.5-0.8,1-1.2,1.5c-0.4,0.7-0.9,1.4-1.1,2.2c-0.2,0.7-0.4,1.5-0.5,2.3 C103.9,17,104.5,17.9,105.5,18z M92.7,17.8C93,18,93.4,18,93.8,18c0.9-0.1,1.7-0.9,1.8-1.8c0-0.1,0-0.2,0.1-0.3 c0.1-0.3,0.2-0.5,0.3-0.8c0.2-0.3,0.3-0.5,0.5-0.8c0.2-0.3,0.4-0.5,0.6-0.8c0.1-0.1,0.1-0.1,0.2-0.2c0.4-0.4,0.7-0.8,0.8-1.4 c0-0.4,0-0.8-0.2-1.2c-0.5-0.8-1.6-1-2.4-0.5c-0.5,0.3-1,0.7-1.4,1.1c-0.3,0.3-0.6,0.6-0.8,0.9c-0.2,0.3-0.4,0.7-0.5,1 c-0.5,1.1-0.6,2.2-0.6,3.4C92,17.1,92.4,17.6,92.7,17.8z M72.8,18c0.2,0.1,0.4,0.1,0.6,0c0.3-0.1,0.7-0.4,0.8-0.7 c0.4-0.9,0.9-1.7,1.5-2.5c0.3-0.4,0.6-0.8,0.9-1.2c-0.1,0.2-0.2,0.3-0.3,0.5c0.2-0.3,0.4-0.6,0.7-0.8c0.2-0.2,0.4-0.5,0.6-0.8 c0-0.1,0.1-0.1,0.1-0.2c0.1-0.3,0.2-0.5,0.3-0.8c0,0,0,0.1,0,0.1c0-0.1,0-0.2,0.1-0.3c0.1-0.6,0.2-1.1-0.1-1.6 C77.6,9.3,77.2,9,76.7,9c-0.4,0-0.9,0.1-1.3,0.4c-0.2,0.2-0.5,0.3-0.6,0.5c-0.2,0.2-0.4,0.5-0.6,0.8c-0.4,0.6-0.8,1.3-1.1,2 c-0.5,1.2-0.9,2.5-1.1,3.8C71.9,17.1,72.3,17.8,72.8,18z M67.2,7.1C67.3,7,67.3,7,67.2,7.1C67.1,7.1,67.1,7.2,67.2,7.1z M67.3,7 C67.3,7,67.3,7,67.3,7c0.1-0.1,0.1-0.1,0.2-0.2C67.4,6.9,67.3,7,67.3,7z M62.2,15.5c0,0-0.1-0.1-0.1-0.2c0,0,0,0,0-0.1 c0-0.1,0-0.2,0-0.3c0-0.1,0-0.1,0-0.2c0-0.2,0-0.1,0,0.2c-0.1-0.1,0.1-0.5,0.1-0.7c0-0.1,0.1-0.3,0.1-0.4c0,0,0,0,0,0.1c0,0,0,0,0,0 c0.2-0.5,0.4-1,0.6-1.5c0.1-0.3,0.3-0.5,0.4-0.7c0,0,0,0,0,0c0.1-0.1,0.2-0.3,0.2-0.4c0.6-1,1.4-1.8,2.2-2.7 c0.1-0.1,0.1-0.1,0.2-0.2c0.2-0.2,0.4-0.3,0.6-0.5c0.1-0.1,0.2-0.2,0.3-0.3c-0.1,0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.2-0.2 c0.1-0.1,0.2-0.2,0.3-0.3c0.5-0.5,0.8-1.1,0.6-1.9C67.7,4.4,67.1,4,66.3,4c-1.6,0-3,0.9-4,1.9c-1.2,1.1-2.1,2.4-2.9,3.9 c-1.3,2.3-2.2,5.5-0.3,7.7C60.3,18.9,62.9,17.1,62.2,15.5z M62.2,13.9C62.1,14.1,62.1,14.3,62.2,13.9L62.2,13.9z M41.9,18 c0.9-0.1,1.6-0.9,1.8-1.9c0.1-0.4,0.1-0.9,0.2-1.3c0-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.2,0.1-0.3c0-0.2,0.1-0.5,0.1-0.7 c0-0.1,0-0.2,0.1-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0-0.2,0-0.1,0,0c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.5,0.3-0.9,0.5-1.4 c0.1-0.2,0.2-0.4,0.2-0.6c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0C45.5,9.8,45.7,9.4,46,9c0.2-0.4,0.5-0.7,0.7-1.1c0,0,0,0,0,0 c0.1-0.2,0.3-0.3,0.4-0.5c0.1-0.2,0.3-0.4,0.4-0.6c0.6-0.8,0.7-2.2,0-3c-0.7-0.8-1.8-1-2.7-0.4c-0.2,0.1-0.4,0.3-0.6,0.4 c-0.6,0.4-0.9,0.8-1.3,1.4c-0.3,0.4-0.6,0.8-0.8,1.2c-0.6,1-1.1,2.2-1.4,3.3c-0.3,1.1-0.5,2.3-0.7,3.4c-0.1,1.2-0.1,2.3,0.2,3.5 C40.4,17.5,41.1,18.1,41.9,18z M44.3,13C44.3,13,44.3,12.9,44.3,13C44.3,12.9,44.3,13,44.3,13C44.3,13,44.3,13,44.3,13z M25.5,18 c0.7-0.1,1.4-0.8,1.5-1.7c0-0.2,0.1-0.4,0.1-0.6c0-0.1,0-0.2,0.1-0.3c0.1-0.4,0.3-0.9,0.5-1.3c-0.1,0.2-0.2,0.3-0.2,0.5 c0.1-0.2,0.2-0.3,0.2-0.5c0.3-0.6,0.6-1.2,1-1.7c0.2-0.2,0.4-0.5,0.6-0.7L29,12.1c0.1-0.2,0.3-0.3,0.4-0.5c0.3-0.4,0.5-0.9,0.6-1.4 C30,9.7,29.9,9,29.6,8.6C29.3,8.2,28.9,8,28.4,8c-1.1-0.1-2.1,1.1-2.7,2.1c-0.4,0.7-0.8,1.4-1,2.1c-0.5,1.4-0.8,3-0.6,4.4 C24.1,17.6,24.8,18.1,25.5,18z M12.8,18c0.8,0.2,1.5-0.3,1.8-1.1c0.3-0.6,0.5-1.3,0.8-1.9c-0.1,0.1-0.1,0.3-0.2,0.4 c0.1-0.2,0.2-0.4,0.3-0.6c0-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.2,0.1-0.4,0.2-0.7c0,0.1-0.1,0.3-0.1,0.4 c0-0.2,0.1-0.4,0.1-0.5c0-0.5-0.1-0.9-0.4-1.2c0,0-0.1,0-0.1-0.1c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0 c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0c-0.1,0-0.2,0-0.3,0c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2,0c0,0,0,0-0.1,0 c0,0,0,0,0,0c-0.2,0-0.3,0.1-0.4,0.2c-0.4,0.2-0.6,0.5-0.9,0.8c-0.2,0.4-0.4,0.8-0.6,1.2c-0.2,0.6-0.4,1.2-0.5,1.9 c-0.1,0.4-0.2,0.8,0,1.1C12.2,17.6,12.5,17.9,12.8,18z M0.5,17.2C0.7,17.6,1,17.9,1.4,18c0.3,0.1,0.7,0,1-0.1c0.7-0.3,1.4-1,1.2-1.8 c0-0.2,0-0.3-0.1-0.5c0-0.1,0-0.2,0-0.3c0.1-0.1,0.1-0.3,0.2-0.4c0.2-0.4,0.5-0.8,0.8-1.1c-0.1,0.1-0.3,0.3-0.4,0.4 c0.3-0.3,0.6-0.6,0.8-0.9c0.1-0.2,0.3-0.4,0.5-0.5c0,0,0,0,0,0C5.7,12.5,6,12.1,6,11.7c0-0.4,0-0.7-0.2-1C5.3,10,4.3,9.8,3.5,10.2 c-0.2,0.1-0.4,0.2-0.6,0.4c-0.3,0.2-0.5,0.3-0.7,0.5c-0.2,0.2-0.4,0.4-0.6,0.6c-0.4,0.5-0.8,1-1.1,1.6C0.1,14,0,14.7,0,15.5 C0,16.1,0.2,16.7,0.5,17.2z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }

  .scrollYWithoutScrollbar {
    /* height: 100%; */
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
